<%- include('../includes/head.ejs') %>
<body>
			<%- include('../includes/navigation.ejs') %>
	<main>
			<% if(errorMessage.length) {%>
			<div><%= errorMessage[0] %><div>
			<% } %>
		<form class="login-form" action="/login" method="POST">
			<div class="form-control">
				<label for="email">E-mail</label>
				<input id="email" name="email" type="email" />
			</div>
			<div class="form-control">
				<label for="password">Password</label>
				<input id="password" name="password" type="password" />
			</div>
			<input type="hidden" name="_csrf" value="<%= csrfToken%>" />
			<button class="btn" type="submit">Login</button>
		</form>
	</main>
</body>
<%- include ('../includes/end.ejs')%>
